<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1" (click)="onDismiss()"></ion-back-button>
    </ion-buttons>
    <ion-title>PDF</ion-title>

    <ion-button (click)="onDowload()" slot="end" fill="outline">
      <ion-icon slot="icon-only" name="arrow-down-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="addZoom()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="subtratZoom()">
        <ion-icon name="remove-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <pdf-viewer
    [src]="pdfSrc"
    [render-text]="true"
    [original-size]="false" zoom-scale="page-width"
    [zoom]="zoom"
    style="width: 100vw; height: 100%"></pdf-viewer>
</ion-content>
