<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-button (click)="onwriteSecretFile()" expand="block" fill="solid" shape="round">
          writeSecretFile
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="onreadSecretFile()" expand="block" fill="clear" shape="round">
          readSecretFile
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="ondeleteSecretFile()" expand="block" fill="outline" shape="round">
          deleteSecretFile
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="onreadFilePath()" expand="block" fill="solid" shape="round">
          readFilePath
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
