html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
h3, h4 {
  color: blue;
}

.scann-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  justify-content: flex-end;
  position: relative;
  gap: 16px;
  ion-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    color: red;
  }
  article.example {
    background-color: white;
    width: 100%;
    border-radius: 4px;
    display: flex;
    padding: 16px;
    img {
      width: 30%;
    }
  }
  section.cnt-button {
    background-color: white;
    width: 100%;
    border-radius: 4px;
    padding: 16px;
    text-align: center;
    ion-button {
      width: 100%;
    }
  }
}
.scan-box {
  width: 300px;
  height: 300px;
  position: relative;
  margin-bottom: 25%;
  span {
    border-radius: 10%;
    border-width: 2px;
    border-color: red;
  }
}

.small-border--tl {
  position: absolute;
  width: 10%;
  height: 10%;
  left: 0;
  top: 0;
  border: solid black;
  border-bottom: none;
  border-right: none;
}
.small-border--tr {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0;
  right: 0;
  border: solid black;
  border-bottom: none;
  border-left: none;
}
.small-border--bl {
  position: absolute;
  width: 10%;
  height: 10%;
  bottom: 0;
  left: 0;
  border: solid black;
  border-top: none;
  border-right: none;
}
.small-border--br {
  position: absolute;
  width: 10%;
  height: 10%;
  bottom: 0;
  right: 0;
  border: solid black;
  border-top: none;
  border-left: none;
}

.scan-line {
  border-top: 2px solid red;
  height: 0px;
  position: absolute;
  width: 96%;
  margin: 2% 2%;
  animation: scanAnimation 2s linear infinite;
}

@keyframes scanAnimation {
  0% {
    top: 0;
  }
  100% {
    top: 96%;
  }
}

/* .scanner-buttons {
  margin: 0px 12%;
  position: absolute;
  bottom: 10vh;
  width: -webkit-fill-available;
  z-index: 1;
}

.scan-box {
  border: 2px solid #fff;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  left: 50%;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

ion-label {
  font-size: 18px;
  text-align: center;
  overflow-wrap: anywhere;
}

.btn-content {
  margin: 12%;
}
 */
